pkgbase = arch-sdcard-updater
	pkgdesc = Space-aware incremental package updater for Arch Linux on SD cards
	pkgver = 1.1.4
	pkgrel = 1
	url = https://github.com/thefangeddeity/arch-sdcard-updater
	arch = any
	license = GPL3
	depends = bash
	depends = yay
	depends = tmux
	source = arch-sdcard-updater-1.1.4.tar.gz::https://github.com/thefangeddeity/arch-sdcard-updater/archive/refs/tags/v1.1.4.tar.gz
	sha256sums = a4a3b8cb3035c3bf24bbbd618873a704070390b00a7ae19b5a3088b3c9911c06

pkgname = arch-sdcard-updater
