pkgbase = arch-sdcard-updater
	pkgdesc = Space-aware incremental package updater for Arch Linux on SD cards
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/thefangeddeity/arch-sdcard-updater
	arch = any
	license = GPL3
	depends = bash
	depends = yay
	depends = tmux
	source = arch-sdcard-updater-1.1.0.tar.gz::https://github.com/thefangeddeity/arch-sdcard-updater/archive/refs/tags/v1.1.0.tar.gz
	sha256sums = 7946dcb0686b7703e5f704c7ada4f0cdd93e45f0d8daf99ff5b562de7313a867

pkgname = arch-sdcard-updater
